* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/mountains-universe02.png");
  background-size: cover;

  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  
  margin-left: 72px;
  margin-top: 40px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;
}

nav a:hover {
  font-weight: bold;
}

main {
  margin-left: 102px;
  margin-top: 113px;
}

main h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;

  color: white;
}

main p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  color: #E1E1E6;

  width: 648px;

  margin-top: 16px;
}